body {
    font-family: "Lato", sans-serif;
  }

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #79aec8;
    color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
    overflow: hidden!important;
  }

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    display: block;
    transition: 0.3s;
    color: #fff;
  }

.sidebar a:hover {
    opacity: 0.8;
}

.sidebar .closebtn {
    position: absolute;
    top: 36px;
    right: 2px;
    font-size: 36px;
    margin-left: 50px;
  }

.openbtn {
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #417690;
    color: white;
    border: none;
    display: flex;
    margin-right:auto;


  }

.openbtn:hover {
    transition: ease-in-out .5s;
    background-color: #444;
}

#main {
   transition: 0.5s;
  }

.sidebar li {
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: 25px;
     color: #efefef;
    padding-left:1.5rem;
  }

ul, li{
    text-decoration: none;
    padding:0;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

.view-on-site a{
    background: #417690;
    text-align: center;
    color: #f5dd5d;
    padding: 12px 40px;
    font-size: 20px;
  }

.sidebar-footer{
    /*padding-left: 1.5rem;*/
    margin-top: auto;
    margin-bottom: 1rem;
    text-align: center;
}
.sidebar-footer button{
    font-size: 1.25rem;
}
.sidebar-footer button>i{
    padding-right: 5px;
    /*vertical-align: -10%;*/
}

.dropbtn {
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 16px;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: #417690;
    min-width: 160px;
    bottom: 50px;
    right: 24px;
    z-index: 1;
}

.dropup-content a {
    color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropup-content button {
    /*color: black!important;*/
    font-size: 1rem!important;
    border: none!important;
    font-weight: 400!important;

}

.dropup-content a:hover {background-color: #ccc}

.dropup-content button:hover {border: none!important; margin: 0!important; padding: 0!important; top: 0!important; bottom: 0!important;}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  opacity: 0.9;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}