.records-wrapper{
    width: 50%;
    text-decoration: none;
    list-style: none;
    li{
        text-decoration: none;
        list-style: none;
        p{
        width: 95%;
        margin-left: auto;
        font-size: 1.3rem;
        line-height: 1.5;
        }
    }
}