<div *ngIf="categoryData">
  <h1></h1>

  <div *ngIf="subcategoryData">
    <h2>
      <a [routerLink]="getCategoryUrl(languageData[0]?.language?.url, categoryData?.url)">
        {{ categoryData?.name }}
      </a>
      - {{ subcategoryData?.name }}
    </h2>

    <div *ngIf="commonTags.length > 0" class="commontags-wrapper">
      <!-- <h4>Common Tags:</h4> -->
      <ng-container *ngFor="let tag of commonTags">
        <li *ngIf="!tag.only_subtag" class="commontags-list">
          <a [routerLink]="getTagUrl(languageData[0]?.language?.url, categoryData?.url, subcategoryData?.url, tag.url)">{{ tag.name }}</a>
        </li>
      </ng-container>
    </div>

    <div *ngIf="records.length > 0">
      <!-- <h4>Records:</h4> -->
      <ul class="records-wrapper">
        <li *ngFor="let record of records">
          <h2>{{ record.h2 }}</h2>
          <p [innerHTML]="record.text | autoLink: categoryData"></p>
        </li>
      </ul>
    </div>
  </div>
</div>
